@import "./defualt.css";

h3 {
  color: white;
  font-size: 200%;
}

#filter {
  display: inline-block;
  width: 1/3;
  background-color: var(--color-background-2);
  border: 3px solid var(--color-secondary-1);
  border-radius: 5px;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
}

select {
  margin: 10px;
}

#squareImage {
  height: 100px;
}

#view {
  display: inline-block;
  width: 2/3;
  background-color: var(--color-background-2);
  border: 3px solid var(--color-secondary-1);
  border-radius: 5px;
}

/* #painting {
    border: 3px solid var(--color-secondary-1);
    border-radius: 5px;
} */
h3 {
  color: white;
  font-size: 2000%;
  text-align: center;
}
