@import "./defualt.css";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh;
  width: 90%;
  margin: auto;
  margin-top: 2vh;
}
.containerGallery {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr;
  grid-template-rows: 185px 58vh;
  grid-gap: 10px;
}

#header {
  padding: 1.5vh;
  margin-bottom: 10px;
  border: 3px solid var(--color-secondary-1);
}

#header h1 {
  font-size: 4vh;
  font-weight: bold;
}

#header p {
  font-size: 2vh;
}

#expandList {
  display: none;
  position: relative;
  top: 36vh;
  bottom: 36vh;
  padding: 8px;
}

#expandList {
  fill: var(--color-primary-1);
}

#expandList:hover {
  fill: var(--color-primary-2);
  cursor: pointer;
}

#collapseList svg {
  fill: var(--color-primary-1);
  max-width: 15px;
  max-height: 15px;
  padding-right: 10px;
}

#collapseList svg:hover {
  fill: var(--color-primary-2);
  cursor: pointer;
}

#listGalleryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  top: 0;
  width: 1fr;
  max-height: 50px;
  background: var(--color-background-1);
  z-index: 2;
}

#listOfGalleries ul {
  padding: 5px;
  margin-top: 5px;
}

div#listOfGalleries {
  grid-row: 1/3;
}

#listOfGalleriesArea {
  overflow: auto;
  height: 95%;
}

#listOfGalleries li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border: 2px solid var(--color-secondary-1);
  color: var(--color-secondary-1);
  border-radius: 3px;
  margin: 4px;
}

#listOfGalleries li:hover {
  background-color: var(--color-black-1);
}

#galleryInfo {
  display: none;
}

#galleryInfo a {
  text-decoration: none;
  border: 2px solid var(--color-secondary-1);
  color: var(--color-secondary-1);
  width: 120px;
  height: 10px;
  padding: 8px;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 10px;
}

#galleryInfo a:hover {
  background-color: var(--color-black-1);
}

#galleryInfo ul li {
  padding: 8px 8px;
}

#galleryInfo ul li:first-child {
  padding: 8px;
  width: 3fr;
  background: var(--color-background-1);
  border-radius: 5px 5px 0px 0px;
}

#paintings {
  grid-row: 1/3;
  grid-column: 3/4;
  font-size: 20px;
  display: none;
}

#paintingHeading {
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
  font-weight: 400;
  border-radius: 5px 5px 0px 0px;
  top: 0;
  background: var(--color-background-1);
  z-index: 2;
}

#paintingHeading span {
  cursor: pointer;
}

#paintingHeading span[id="emptyFlex"] {
  width: 120px;
}

#paintingHeading span[id="artist"] {
  width: 150px;
}

#paintingHeading span[id="title"] {
  width: 15vw;
  flex-grow: 2;
}

#paintingHeading span[id="year"] {
  width: 100px;
  padding-right: 20px;
}

#paintingArea > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--color-secondary-1);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

#paintingArea {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 94%;
}

#paintingArea span[id="paintingArtist"] {
  width: 140px;
  padding-left: 10px;
  padding-right: 10px;
}

#paintingArea span[id="paintingTitle"] {
  width: 15vw;
  padding-right: 20px;
  flex-grow: 2;
}

#paintingArea span[id="paintingYear"] {
  width: 100px;
}

#paintingTitle a:link,
a:visited {
  color: var(--color-primary-1);
  text-decoration: none;
}

#paintingTitle a:hover {
  cursor: pointer;
  color: var(--color-primary-2);
}

#galleryMap {
  grid-row: 1/3;
  grid-column: 2/4;
}

#map {
  border-radius: 2.5px;
  height: calc(185px + 57vh); /* 63 defualt */
  margin: 1vh;
}

.pagenav,
.containerGallery > div,
.containerView > div,
#header {
  background-color: var(--color-background-2);
  border-radius: 5px;
  box-shadow: 0px 0px 4px black;
}

#listLoader {
  display: none;
  top: 29vh;
  bottom: 29vh;
  z-index: 4;
}

#paintingLoader {
  display: none;
  top: 40vh;
  bottom: 40vh;
  z-index: 4;
}

@media only screen and (max-width: 900px) {
  #listLoader {
    display: none;
    top: 10vh;
    bottom: 29vh;
    z-index: 4;
  }

  .containerGallery {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 400px 1fr 700px;
    grid-gap: 10px;
  }

  #paintingHeading span[id="emptyFlex"] {
    width: 70px;
  }

  #paintingArea span[id="paintingTitle"] a {
    font-size: 16px;
  }

  #map {
    height: 380px;
    margin: 10px;
  }

  div#listOfGalleries {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #collapseList svg {
    display: none;
  }

  #listOfGalleriesArea {
    height: 270px;
  }

  div#galleryInfo {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  div#galleryMap {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  div#paintings {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  div#paintingArea div img {
    width: 50px;
  }
}

/* CSS Loader source: https://hookagency.com/website-color-schemes/ */

.lds-roller {
  margin: auto;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 3;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-secondary-1);
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* light box styling from https://www.w3schools.com/howto/howto_js_lightbox.asp */

#LargePainting {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
  background: rgba(0, 0, 0, 0.9);
}

#LargePainting figure {
  background: var(--color-black-2);
  border: 2px solid var(--color-secondary-1);
  box-shadow: 0px 0px 4px var(--color-primary-1);
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  margin: auto;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#LargePainting figure img {
  max-width: 95vw;
  max-height: 95vh;
}

#closeButton {
  color: var(--color-primary-1);
  padding: 5px;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 10px;
  top: 25px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 7;
}

#closeButton:hover {
  color: var(--color-primary-2);
  cursor: pointer;
}
