@import "./CSS/reset.css";

main {
  position: static;
  height: calc(100vh - 50px);
  /* Image from https://www.pinterest.ca/pin/718816790511318924/ */
  background-image: url(../images/Background.jpg);
  background-size: cover;
}

div#indexhome {
  position: absolute;
  height: 25%;
  width: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#indexhome form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.searchbox {
  grid-column: 1/3;
}
