@import "./CSS/reset.css";

main {
  position: static;
  height: calc(100vh - 50px);
  /* Image from https://www.pinterest.ca/pin/718816790511318924/ */
  background-image: url(../images/Background.jpg);
  background-size: cover;
}

div#indexhome {
  position: absolute;
  height: 30%;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#indexhome form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.searchbox {
  grid-column: 1/3;
  box-sizing: border-box;
  border: 2px solid var(--color-primary-1);
  background-color: var(--color-background-2);
  border-radius: 10px;
  padding-left: 10px;
  color: var(--color-primary-1);
  height: 60px;
  font-size: 30px;
}

#indexhome button {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 18px;
  border: 2px solid var(--color-primary-1);
  background-color: var(--color-background-2);
}

#indexhome button a {
  padding: 10px;
}

#indexhome button a:visited,
#indexhome button a:link {
  text-decoration: none;
  color: var(--color-primary-1);
}
#indexhome button:hover {
  cursor: pointer;
  background-color: var(--color-black-1);
}

footer {
  width: 100vw;
  height: 50px;
  background-color: var(--color-background-2);
  position: absolute;
  bottom: 1px;
}

footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
