@import "./defualt.css";

h2 {
  display: inline-block;
  
  padding: 10px;
  margin: 10px;
  border: solid;

  border-color: var(--color-primary-1);
  border-radius: 5px;
}


a {
  color: var(--color-primary-1);
  text-decoration: none;
  padding-left: 10px;
}

h3 {
  color: var(--color-primary-1);
}

#info {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  top: -150px;
  border: 3px solid var(--color-secondary-1);
  border-radius: 5px;
  text-align: center;
  /* position: relative;
    float: right;

    right: 5px; */
}

a:hover {
  color: var(--color-secondary-2);
}
#header p{
  font-size: medium;
}
#Tabs h2 {
  font-size: larger;
  border: 3px solid var(--color-secondary-1);
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}

#info h3 {
font-size: larger;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}
